.CountryWrap {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    border: solid 3px #ffbb42;
}

.Country img {
    width: 300px;
    height: 300px;
}

.Country span {
    display: block;
    margin-bottom: 10px;
}