.ListCountry {
    margin: 0 40px;
    overflow: scroll;
    width: 20%;
    height: 600px;
    padding: 5px;
    border: solid 3px #ffbb42;
}

.ListCountry h3 {
    cursor: pointer;
    border: 1px solid #ffbb42;
    color: #000000;
    background: #ffbb42;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 20px;
}